// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
body {
    background-color: #f4f6f9;
}

.card {
    border: none;
}

.btn-dark {
    background-color: #333;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #555;
}
